#mw-selector-1668575077028 {
	padding-top: 18px!important;
	text-align: center!important;
	margin-top: auto!important;
}
#mw-selector-1668575077052 {
	margin-left: auto!important;
	margin-top: auto!important;
	margin-right: auto!important;
}
#mw-selector-1668577989961 {
	font-size: 40px!important;
	text-align: left!important;
	color: #ffffff!important;
	margin-bottom: 54px!important;
}
#mw-selector-1668749948825 {
	text-align: left!important;
	margin-left: 0px!important;
	margin-bottom: 0px!important;
	margin-right: 0px!important;
}
